body{
    background-color: rgb(228, 207, 226);
    color: rgb(3, 3, 3);
    border: blueviolet;
    line-height: 1,0;
    line-height: 1.5;
    font-size: 22px;
}

img{
    width: 400px;
    display: block;
    margin: auto;
}